{% extends 'base.html' %}
{% block TITLE %}Book Detail{% endblock TITLE %}
{% block BODY %}
    <h1>Book details</h1>
    <div class="card" style="width: 18rem;">
        <img src="{{ object.picture.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ object.name }}</h5>
          <p class="card-text">{{ object.price }}</p>
          <p class="card-text">{{ object.autor.name }}</p>
          <p class="card-text">{{ object.serie.name }}</p>
          <p class="card-text">{{ object.genre.name }}</p>
          <p class="card-text">{{ object.year }}</p>
          <p class="card-text">{{ object.pages }}</p>
          <p class="card-text">{{ object.cover }}</p>
          <p class="card-text">{{ object.format }}</p>
          <p class="card-text">{{ object.isbn }}</p>
          <p class="card-text">{{ object.weight }}</p>
          <p class="card-text">{{ object.age }}</p>
          <p class="card-text">{{ object.publisher }}</p>
          <p class="card-text">{{ object.numbers }}</p>
          <p class="card-text">{{ object.availability }}</p>
          <p class="card-text">{{ object.rating }}</p>
          <p class="card-text">{{ object.created }}</p>
          <p class="card-text">{{ object.updated }}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    {% comment %} {{ object }} {% endcomment %}
    <img src="{{ object.picture.url }}" width="{{ object.picture.width }}" class="card-img-top" alt="...">
    <img src="{{ object.book_picture_med }}" width="150" alt="..."><br>
    <img src="{{ object.book_picture_small }}" width="40" alt="...">

    {% endblock BODY %}