<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>pk</th>
            <th>name</th>
            <th>actions</th>
        </tr>
        {% for obj in object_list %}
        <tr>
            <td>{{ obj.pk }}</td>
            <td>{{ obj.name }}</td>
            <td><a href="/book-update-cbv/{{ obj.pk }}">Update</a></td>
        </tr>
        {% endfor %}
    </table>    
    
</body>
</html>