{% extends 'base.html' %}
{% block TITLE %}Update Book{% endblock TITLE %}
{% block BODY %}
    <h1>{{ greeting }}</h1>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="book_name" value={{ object.name }} id=""><br>
        <select name="autor" id="">
            <option value="">--Please choose an Autor--</option>
            {% for autor in autors %}
            <option value="{{ autor.pk }}" {% if autor.pk == object.autor.pk %}selected {% endif %}>{{ autor.name }}</option>
            {% endfor %}
        </select><br>
        <select name="genre" id="">
            <option value="">--Please choose a Genre--</option>
            {% for genre in genres %}
            <option value="{{ genre.pk }}" {% if genre.pk == object.genre.pk %}selected {% endif %}>{{ genre.name }}</option>
            {% endfor %}
        </select><br>
        <select name="serie" id="">
            <option value="">--Please choose a Serie--</option>
            {% for serie in series %}
            <option value="{{ serie.pk }}" {% if serie.pk == object.serie.pk %}selected {% endif %}>{{ serie.name }}</option>
            {% endfor %}
        </select><br>
        <select name="publisher" id="">
            <option value="">--Please choose a Publisher--</option>
            {% for publisher in publishers %}
            <option value="{{ publisher.pk }}" {% if publisher.pk == object.publisher.pk %}selected {% endif %}>{{ publisher.name }}</option>
            {% endfor %}
        </select><br>
        <button type="submit">Submit</button>
    </form>
{% endblock BODY %}