{% extends 'base.html' %}
{% block TITLE %}Cart{% endblock TITLE %}
{% block BODY %}

<h1>Cart</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">edit</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
        {% for good_in_cart in object.goods.all %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ good_in_cart.good.name }}</td>
        <td>{{ good_in_cart.quantity }}</td>
        <td>
            <button type="button" onclick="deleteGood({{ good_in_cart.good.pk }})" class="btn btn-outline-danger btn-sm">-</button>
            <button type="button" onclick="addGood({{ good_in_cart.good.pk }})" class="btn btn-outline-primary btn-sm">+</button>
        </td>
        <td>{{ good_in_cart.price }}</td>
      </tr>
      {% endfor %}
      <tr>
        <td colspan="2">Total:</td>
        <td colspan="2">{{ object.total_quantity }}</td>
        <td colspan="1">{{ object.total_price }}</td>
      </tr>
    </tbody>
  </table>
  {% if object.goods.all %}
  <a href="{% url 'orders:create-order' %}" class="btn btn-outline-primary">Create order</a>
  {% endif %}
  <script>
    function addGood(pk) {
        console.log("add" + pk)
        redirect("add", pk)
    }
    function deleteGood(pk) {
        console.log("delete" + pk)
        redirect("delete", pk)
    }
    function redirect(action, pk) {
        window.location.href = "{% url "orders:cart-items-edit" %}" + `?action=${action}&good=${pk}`;

    }
  </script>

{% endblock BODY %}