{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block TITLE %}Cart{% endblock TITLE %}
{% block BODY %}

<h1>Cart</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>        
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
        {% for good_in_cart in object.goods.all %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ good_in_cart.good.name }}</td>
        <td>{{ good_in_cart.quantity }}</td>        
        <td>{{ good_in_cart.price }}</td>
      </tr>
      {% endfor %}
      <tr>
        <td colspan="2">Total:</td>
        <td colspan="2">{{ object.total_quantity }}</td>
        <td colspan="1">{{ object.total_price }}</td>
      </tr>
    </tbody>
  </table>
  
<form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-outline-danger">Create</button>
</form>



{% endblock BODY %}